body
{
	text-align: center;
}
span
{
	font-size: 12px;
	color: red;
}
canvas
{
	background: pink;
	border-radius: 20px;
}


.footer{

    position:fixed;
    color: white;
    bottom: 0;
    width: 100%;
    background-color: grey;
    line-height: 3;
    text-align:center;
    box-shadow: 5px 7px 7px black;

}